/* Reset some default styles */
body,
h1,
p,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Arial', sans-serif;
}


/* Header Styles */
.header {
    background-color: #d1be5f;
    /* Yellow background */
    height: 600px;
    padding-top: 40px;
}

.white-box {
    background-color: #fff;
    /* White background */
    width: 100%;
    height: 60px;
    padding-top: 20px;
    padding-left: 30px;
    /* Adjust padding as needed */
    position: relative;
    /* Position relative for absolute positioning */
}

/* Horizontal links on the same line */
.horizontal-links {
    position: absolute;
    top: 30px;
    right: 100px;
    /* Adjust the right position as needed */
    display: flex;
}

.horizontal-links a {
    margin-right: 20px;
    /* Adjust the right margin as needed */
}

/* Call text and telephone icon below the links */
.call-info {
    position: fixed;
    top: 60px;
    /* Adjust the top position as needed */
    right: 20px;
    /* Adjust the right position as needed */
    display: flex;
    align-items: center;
}

.call-icon {
    /* margin-left: 5px; */
    font-size: 20px;
    padding-left: 500px;
}

/* Padding adjustments */
.home-link {
    padding-left: 200px;
}

.about-link {
    padding-left: 70px;
}

.call-link {
    padding-left: 10px;
}

main {
    display: flex;
    justify-content: space-between;
}

.main-content {
    /* Remove 'position: absolute;' */
    width: 80%;
    left: 0;
    /* Adjusted to align with the left side */
    top: 20%;
    padding-left: 10px;
}

.main-image {
    padding-top: 60px;
    float: right;
    width: 54%;
}

.undertheheader {
    padding-top: 60px;
    margin-right: 100px;
    padding-left: 50px;
}

.roundedWhatappContainer {
    background-color: #fff;
    /* White background */
    width: 200px;
    height: 60px;
    padding-top: 1px;
    padding-left: 30px;
    /* Adjust padding as needed */
    position: relative;
    margin-top: 80px;
    margin-left: 90px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.whatsapptext {
    font-size: 20px;
    padding-left: 100px;
}

.whatsappicon img {
    max-height: 50px;
    /* Set max-height to 30px */
    max-width: 40px;
    /* Set max-width to 25px */
    border-radius: 50%;
    /* To make the image round */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourServiceText {
    margin: 0;
    text-align: center;
    padding-top: 20px;
    /* Adjust the padding as needed */
}

.container {
    display: flex;
    justify-content: center;
}

.imageForOtherService {
    padding-right: 50px;
    padding-left: 50px;
}

.aboutusimage img {
    max-height: 500px;
    /* Set max-height to 30px */
    max-width: 500px;
}

.aboutustext {
    font-size: 20px;
    padding-left: 20px;
    text-align: left;
}

.column {
    float: left;
    width: 50%;
    text-align: center;
    /* padding: 20px; */
}

.column h5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 200px;
    /* This ensures the text takes the full height of the column */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}