* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  background: rgba(255, 255, 255, 1);
}
header {
  width: 100%;
  height: 64px;
  color: black;
}
.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  /* align-items: flex-start;  */
  justify-content: space-between;
  box-shadow: 0px 7px 10px rgba(17, 17, 17, 0.5);
  /* position: fixed; */
  background-color: white;
}
.con {
  display: flex;
  /* justify-content: space-around; */
}
.logo {
  width: 54px;
  height: 55px;
}
nav ul li {
  list-style: none;
  margin-left: 40px;
  display: inline;
}
.menu-list {
  margin-top: 18px;
}
nav ul li a {
  text-decoration: none;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 28.9px;
  text-align: left;
  color: black;
}
.wp {
  display: flex;
  width: 5%;
  align-items: center;
  color: #329b00;
  font-size: 30px;
}
.us {
  /* color: #329b00;
  font-size: 30px; */
  /* list-style: none; */
}

.main {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 70px;
  
}
.card {
  width: 410px;
  height: 460px;
  border-radius: 29px;
  padding: 2rem 1rem;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: 1px solid black;
  /* border-radius: 10px; */
  /* box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5); */
  transition: 0.5s ease-in-out;
  /* border: 5px solid black; */
  
}
.card:hover {
  transform: translatex(10px);
  
  
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 29px;
  background-color: white;
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}
.card:hover:before {
  opacity: 1;
  
}
.card img {
  width: 410px;
  height: 460px;
  border-radius: 29px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.card .info {
  position: relative;
  z-index: 3;
  opacity: 0;
  transform: translateY(30px);
  
}
.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
  
}
.card .info h1 {
  width: 100%;
  height: 58px;
  top: 27px;
  left: 86px;
  gap: 0px;
  opacity: 0px;
  font-family: "Jost", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 57.8px;
  text-align: center;
  
}
.card .info .crd1 {
  width: 237px;
  height: 254.83px;
  top: 8%;
  left: 65px;
  opacity: 0px;
  
}
.card .info .crd2 {
  width: 202px;
  height: 202px;
  top: 79px;
  left: 79px;
  gap: 0px;
  opacity: 0px;
  
}
.card .info .crd3 {
  width: 243px;
  height: 243px;
  top: 66px;
  left: 80px;
  gap: 0px;
  opacity: 0px;
}
.card .info p {
  margin-top: 220px;
  font-family: "jost", sans-serif;
  font-size: 24px;
  font-weight: 200;
  line-height: 34.68px;
  text-align: left;
}
.ec {
  width: 100%;
  margin-top: 7%;
}
.hed {
  height: 48px;
  top: 629px;
}
.hed h1 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48.41px;
  text-align: center;
}
.sec {
  display: flex;
  justify-content: space-around;
}
.im1 {
  width: 255px;
  height: 244px;
  margin-top: 3.5%;
  margin-left: 4%;
  gap: 0px;
  border-radius: 30px;
  opacity: 0px;
}
.sec p {
  width: 100%;
  height: auto;
  margin-top: 8%;
  margin-left: 5%;
  font-family: Jost, sans-serif;
  font-size: 26px;
  font-weight: 300;
  line-height: 37.57px;
  text-align: left;
}
.trd {
  display: flex;
  justify-content: space-around;
}
.im2 {
  width: 255px;
  height: 244px;
  margin-top: 1%;
  margin-left: 3%;
  gap: 0px;
  border-radius: 30px;
  opacity: 0px;
}
.profile-card {
  background-color: #fff;
  border-radius: 30px;
  /* box-shadow: 5px 5px 5px 5px rgba(0.1, 0, 0, 0.1); */
  border: 0.2px solid black;
  text-align: left;
  max-width: 300px;
  width: 270px;
  height: auto;
  margin-right: 0px;
}
.pc {
  display: flex;
}
.detls {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  font-family: "Jost", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 18.79px;
  text-align: center;
  gap: 10px;
}
.names,
.age,
.salary {
  margin-bottom: 10px;
  background: rgba(243, 249, 219, 1);
  width: 147px;
  height: 36px;
  border-radius: 30px;
  padding: 10px;
  margin-left: 10px;
}
.call {
  background: rgba(53, 164, 0, 1);
  width: 138px;
  height: 37px;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 65px;
}
.call a {
  text-decoration: none;
  font-family: "Jost";
  font-size: 14px;
  font-weight: 500;
  line-height: 20.23px;
  text-align: left;
  color: #fff;
}
.profile-picture {
  width: 94px;
  height: 93px;
  border-radius: 30%;
  border: 1px solid rgba(165, 165, 165, 0.33);
  margin: 10px 0 0 10px;
}
.exp {
  margin-left: 10px;
  background: rgba(243, 249, 219, 1);
  width: 248px;
  height: 57px;
  border-radius: 24px;
}
.exp p {
  padding: 20px;
  font-family: Jost;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.23px;
  text-align: left;
}
.next {
  font-size: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(243, 249, 219, 1);
  height: fit-content;
  width: auto;
  border-radius: 60px;
  margin-top: 8%;
  padding: 10px;
}
.next button{
  font-size: 30px;
  border: none ;
}
footer {
  background: linear-gradient(
    96.26deg,
    #35a400 -11.26%,
    #4b5d03 101.9%,
    #329b00 101.92%
  );
  margin-top: 100px;
  width: 100%;
  height: 222px;
}
.contain {
  display: flex;
  justify-content: space-around;
  width: 40%;

  margin-top: 50px;
  margin-left: 192px;
}
.fotrmain {
  display: flex;
  justify-content: space-between;
}

/*  */

.footer-content {
  width: 50%;

  align-items: center;
  padding: 10px;
}

#shaz,
#phone {
  display: flex;
}

#shaz i,
#phone i {
  margin-right: 10px;
  margin-top: 30px;
  color: #fff;
}

#shaz p,
#phone p {
  margin-top: 25px;
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 28.9px;
  text-align: left;
}

.one {
  color: #fff;
  margin-top: 20px;
  font-size: 10px;
}
.ph {
  color: #fff;
  font-size: 10px;
}
.two {
  width: 172px;
  height: 29px;
  top: 2681px;
  left: 192px;
  gap: 0px;
  opacity: 0px;
  margin-top: 30px;
}

.two p {
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 28.9px;
  text-align: left;
  margin-top: 30px;
}
.three {
  width: 212px;
  height: 29px;
  top: 2681px;
  left: 414px;
  gap: 0px;
  opacity: 0px;
}
.list li a {
  font-family: Jost;
  font-size: 20px;
  font-weight: 300;
  line-height: 28.9px;
  text-align: left;
  text-decoration: none;
  color: #fff;
}
.list li {
  list-style: none;

  margin-top: 30px;
}
.lgo {
  width: 81px;
  height: 83px;
  margin-top: 80px;
  background-color: white;
  border-radius: 50%;
  margin-right: 100px;
}
.menu-btn{
  display: none;
  font-size: 30px;
  cursor: pointer;
}
#click{
  display: none;
}
.wtsp-btn{
  /* display: none; */
}
.wpc{
  display: block;
  display: flex;
  justify-content: center;
}
/* #click2{
  display: none;
} */

@media only screen and (max-width: 470px) {
  .container {
    width: 100%;
    
    /* background-color: rgb(197, 20, 20); */
  }
  #click:checked ~.menu-btn :before{
    content: "\f00d";
  }
  
  .menu-list{
    position: fixed;
    margin: 0;
    top: 50px;
    left: -100%;
    background : #fff;
    height: 100%;
    width: 50%;
    display: block;
    text-align: left;
    transition: all 0.3s ease;

  }
  #click:checked ~ .menu-list{
    left: 0%;
    
  }
  nav ul li{
    margin: 80px 0;
    display: block;
    text-align: center;
    /* left: -100%; */
    /* color: #fff; */
  }
  nav ul li a{
    font-size: 30px;
    font-weight: 700;
  }
  .menu-btn{
    display: block;
    padding: 10px;
  }

  .main{
    display: flex;
    background-color: none;
    
  }
  .logo{
    display: none;
  }
  .wtsp-btn {
    display: block;
    /* padding: 10%; */
    /* background-color: #329b00; */
    
  }
  .wpc{
    display: none;
  }
  .wtsp-btn{
    position: fixed;
    margin: 0;
    top: 0px;
    right: -100%;
    background : #db1212;
    height: 100%;
    width: 50%;
    display: block;
    text-align: center;
    transition: all 0.8s ease;

  }
  #click2:checked ~ .wtsp-btn{
    right: 0%;
    
  }
  #click2:checked ~.wtsp-btn :before{
    content: "\f00d";
  }
  
  

}
@media only screen and (max-width: 440px) {
  .ab{
    display: block;
    
  }
  .card img{
    width: 353px;
    height: 230px;
    border-radius: 29px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .card:before{
    /* display: block; */
  }
  .card:hover  {
    /* display: block; */
  }
  .card:before{
    /* display: block; */
      
  }
  .card:hover:before{
    /* display: none;  */
  }
  .card{
    width: 353px;
    height: 230px;
    
    /* background-color: #329b00; */
    /* background-color: none; */
  }
  .card .info h1{
    width: 288px;
    height: 29px;
    font-weight: 700;
    font-size: 20px;
  }
  .card .info .crd1{
    width: 85px;
    height: 92px;
    top: 22px;
    left: 120px;
    gap: 0px;
    opacity: 0px;

  }
  .card .info .crd2{
    width: 85px;
    height: 92px;
    top: 52px;
    left: 120px;
    gap: 0px;
    opacity: 0px;

  }
  .card .info .crd3{
    width: 85px;
    height: 92px;
    top: 42px;
    left: 120px;
    gap: 0px;
    opacity: 0px;

  }

  .card .info p {
    margin-top: 100px;
    font-family: "jost", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 24.68px;
    text-align: left;

  }
  .card.info{
  display: grid;
  grid-auto-flow: column;
  gap: 4rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  /* height: 110px; */
}

.card{
  scroll-snap-align: start;
}

.info{
  border-radius: 10px;
  object-fit: fill;
  height: 70px;
}

.card::-webkit-scrollbar {
  display: block;
}
}

@media only screen and (max-width: 440px){
  .hed h1{
    margin-left: 25px;
    margin-top: 22%;
    /* font-family: Inter; */
    font-size: 17px;
    font-weight: 700;
    text-align: left;

  }
  .im1{
    width: 158px;
    height: 151px;
    margin-top: 39px;
    left: 12px;
    gap: 0px;
    border-radius: 30px;
    opacity: 0px;

  }
  .sec p{
    margin-top: 35px;  
    font-family: Jost;
    font-size: 13px;
    font-weight: 200;
    line-height: 38.79px;
    text-align: left;
    

  }
  .im2{
    display: none;
  }
  .trd{
    /* background-color: aqua; */
    justify-content: flex-start;
    padding: 20px 20px 20px 20px;
    
    gap: 0px;
  }
  #a1{
    display: none;
  }
  .profile-card{
    /* padding: 20px 20px 0 0; */
    /* margin-left: 20px; */
    width: 180px;
    height: 170px;
    border-radius: 15px;
    /* border: 1px;  */
    /* opacity: 0px; */
    /* gap: 0px; */
    /* box-shadow: none; */
  }
  .profile-picture{
    width: 47.37px;
    height: 46.4px;
    /* gap: 0px; */
    border-radius: 27px;
    /* border: 1px; */
    opacity: 0px;
    border: 1px solid rgba(165, 165, 165, 0.33);

  }
  .detls {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    font-family: "Jost", sans-serif;
    font-size: 9px;
    font-weight: 300;
    line-height: 18.79px;
    text-align: center;
    gap: 10px;
    
  }
  .names,
  .age,
  .salary {
    margin-bottom: 10px;
    background: rgba(243, 249, 219, 1);
    width: 95px;
    height: 19px;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    /* margin-left: 10px; */
}
  .exp {
    margin-left: 10px;
    background: rgba(243, 249, 219, 1);
    width: 148px;
    height: 37px;
    border-radius: 24px;
    /* background-color: black; */
    
    
  }
  .exp p {
    padding: 5px 5px 80px 10px;
    /* background-color: #329b00;  */
    font-family: Jost;
    font-size: 9px;
    font-weight: 400;
    line-height: 20.23px;
    text-align: left;
    /* position: absolute; */
  }
  .call {
    width: 73px;
    height: 19px;
    top: 633px;
    margin-left: 50px;
    gap: 0px;
    border-radius: 6px;
    opacity: 0px;
    border: none;
    
  }
  .call a {
    text-decoration: none;
    font-family: "Jost";
    font-size: 8px;
    font-weight: 500;
    line-height: 20.23px;
    text-align: center;
    color: #fff;
  }
  
  
  .next{
    position: absolute;
    margin-top: 200px;
    margin-left: 40%;
    font-size: 15px;
  }
  

}
@media only screen and (max-width: 440px){
  .footer-content,#shaz,#phone{
    position: relative;
    margin-left: -90px;
    /* margin-bottom: 0px; */
    padding-left: 10px;
    font-weight: 10 px;
  }
  .three{
    position: static;
    /* margin-top: 5px; */
    margin-left: 50px;
  }
  footer{
    height: 100%;
    width: 100%;
  }
  .contain{
    margin-top: 10px;
    margin-right: 5%;
    
  }
  .lstlogo{
    position: relative;
    display: inline;
    margin-top: -20px;
    margin-left: -7%;
   
  }
  .lgo{
    width: 50px;
    height: 50px;
  }
  .list li a{
    font-size: 15px;
    font-weight: 400px;
  }
  #shaz p,#phone p{
    font-size: 15px;
    font-weight: 300;
  }
  
  
}
